__include__: [
  '../dataset/traffic.yml',
  '../runtime.yml',
  '../base/dataloader.yml',
  '../base/optimizer.yml',
  '../base/deimv2_hgnetv2_n.yml'
]



optimizer:
  type: AdamW
  params:
    -
      params: '^(?=.*backbone)(?!.*norm|bn).*$'
      lr: 0.0008
    -
      params: '^(?=.*backbone)(?=.*norm|bn).*$'
      lr: 0.0008
      weight_decay: 0.
    -
      params: '^(?=.*(?:encoder|decoder))(?=.*(?:norm|bn|bias)).*$'
      weight_decay: 0.

  lr: 0.0016
  betas: [0.9, 0.999]
  weight_decay: 0.0001

# Increase to search for the optimal ema
epoches: 160 # 148 + 12

## Our LR-Scheduler
warmup_iter: 1500
flat_epoch: 78    # 4 + epoch // 2, e.g., 78 = 4 + 148 / 2
no_aug_epoch: 12
lr_gamma: 1.0

## Our DataAug
eval_spatial_size: [768, 960]
train_dataloader:
  total_batch_size: 32 
  dataset: 
    transforms:
      ops:
        #  Especially for Mosaic augmentation, it is recommended that output_size = input_size / 2.
        # - {type: RandomHorizontalFlip}
        # - {type: Mosaic, output_size: 800, rotation_range: 10, translation_range: [0.1, 0.1], scaling_range: [0.75, 1.25],
        #    probability: 1.0, fill_value: 0, use_cache: True, max_cached_images: 50, random_pop: False}
        # - {type: RandomPhotometricDistort, p: 0.25}
        # - {type: RandomZoomOut, fill: 0, side_range: [1.0, 1.15]}
        # - {type: RandomIoUCrop, p: 0.8, min_scale: 0.8, min_aspect_ratio: 0.75, max_aspect_ratio: 1.25}
        # - {type: SanitizeBoundingBoxes, min_size: 8}
        - {type: Resize, size: [768, 960], }
        - {type: SanitizeBoundingBoxes, min_size: 1}
        - {type: ConvertPILImage, dtype: 'float32', scale: True}
        # - {type: Normalize, mean: [0.485, 0.456, 0.406], std: [0.229, 0.224, 0.225]}
        - {type: ConvertBoxes, fmt: 'cxcywh', normalize: True}
      policy:
        name: stop_epoch
        epoch: 120 # stop the following ops after this epoch 
        ops: ['RandomPhotometricDistort', 'RandomZoomOut', 'RandomIoUCrop']


  collate_fn:
    ema_restart_decay: 0.9999
    # base_size: 960
    base_size_repeat: ~
    mixup_prob: 0.0
    copyblend_prob: 1.0
    area_threshold: 256
    num_objects: 5
    with_expand: False
    expand_ratios: [0.1, 0.25]
    mixup_epochs: [0, 0]  # [start_epoch, flat_epoch]
    copyblend_epochs: [10, 100]  # [start_epoch, epoches - no_aug_epoch]
    stop_epoch: 100  # epoches - no_aug_epoch
    data_vis: True

val_dataloader:
  dataset: 
    transforms:
      ops:
        - {type: Resize, size: [768, 960], }
        - {type: ConvertPILImage, dtype: 'float32', scale: True}
        # - {type: Normalize, mean: [0.485, 0.456, 0.406], std: [0.229, 0.224, 0.225]}
DEIMCriterion:
  matcher:
    # new matcher
    change_matcher: True
    iou_order_alpha: 4.0
    matcher_change_epoch: 136

wandb:
  enabled: False 
  project: murata
  run: deimv2_n_768x960_with_coco_pretrained_least_augment_test

# print_freq: 10
output_dir: ./outputs/deimv2_hgnetv2_n_thai_vehicle_768x960_test